<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Booklist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

<style>
	body{
	  padding-top: 25px;
	}
</style>
</head>

<body>
<div class="container testi">
	<div class="row">
		<div class="col-md-4">
			<h1>Books</h1>
		</div>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-danger"/>
			</form>
		</div>
	
    <table class="table table-striped">
		<tr>
			<th>Id</th>
		    <th>Title</th>
		    <th>Author</th>
		    <th>Year</th>
		    <th>ISBN</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
		
    	<tr th:each = "book : ${books}">
    	    <td th:text="${book.bookid}"></td>
    	    <td th:text="${book.title}"></td>
    	    <td th:text="${book.author}"></td>
    	    <td th:text="${book.year}"></td>
    		<td th:text="${book.isbn}"></td>
    		<td th:text="${book.price}"></td>
    		<td th:text="${book.category} ? ${book.category.name} : '  '"></td> 		
 			<td sec:authorize="hasAuthority('ADMIN')"><a  class="btn btn-danger"  th:href="@{/delete/{id}(id=${book.bookid})}">Delete</a></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{/update/{id}(id=${book.bookid})}">Update</a></td>  		
    	</tr>
     </table>
     
     </div>
     
	 <a class="btn btn-success" href="/add">Add book </a> 
	 <a class="btn btn-success" href="/addCategory">Add category </a>

</div>	  
</body>
</html>
